<configuration>
    <appender name="STDOUT_NOTRACE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%date{HH:mm:ss.SSS} [%level] %message%n%xException</pattern></encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="STDOUT_REQUESTID" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>%date{YYYY-MM-dd HH:mm:ss.SSS} [%level] %logger{36} [%blue(%mdc{RequestId:--})] %message%n%xException</pattern></encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>[%green(%mdc{X-B3-SpanId:--})] [%cyan(%mdc{X-B3-TraceId:--})] %message%n%xException</pattern></encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logs/totallykibana.log</file>
        <encoder>
            <pattern>[%level] [${APP_NAME}] [%green(%mdc{X-B3-SpanId:--})] [%cyan(%mdc{X-B3-TraceId:--})] %message%n%xException</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <param name="queueSize" value="1024"/>
        <param name="neverBlock" value="true"/>
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <param name="queueSize" value="1024"/>
        <param name="neverBlock" value="true"/>
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="com.kubukoz" level="DEBUG"/>

    <root level="ERROR">
        <!-- <appender-ref ref="ASYNC_STDOUT" />
        <appender-ref ref="ASYNC_FILE" /> -->
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="STDOUT_NOTRACE" /> -->
        <appender-ref ref="FILE" />
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>
